@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 640px){
    a.active {
        color: #e0dddd;
        background-color: #302f2fe6;
    }
  
}

.btn {
    @apply py-2 px-6 rounded-full font-semibold text-sm uppercase tracking-wider transition duration-300 ease-in-out;
}

.btn-primary {
    @apply bg-yellow-400 text-gray-900 hover:bg-yellow-300;
}

.btn-secondary {
    @apply bg-transparent border-2 border-white hover:bg-white hover:text-gray-900;
}
